
.container {
    width: 300px;
    background-color: #533f61;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 30px 30px 30px;
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    padding: 30px;
    
}
main {
    align-items: center;
    display: flex;
    position: relative;
    bottom: 200px;
    left: 200px;
}

.img1 {
    width: 300px;
    border-radius: 30px;
}
.img2 {
    width: 300px;
    height: 180px;
   border-radius: 30px;
}
.container:hover {
    transform: scale(1.1);
}
.container:active {
    background-color: #3b3a42;
}

input:focus {
    background-color: rgb(174, 172, 208);
}
